@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --main-color: #ffbd22;
  --main-font: "Inter", sans-serif;
}

html {
  margin: -10px;
  padding: 0px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.mainBody {
  background-color: rgb(255, 255, 255);
  font-family: var(--main-font);
}

.div_mainTitle {
  width: 100%;
  height: 65rem;
  background-image: url(../img/mainImg.png);
  background-repeat: no-repeat;
  background-size: 50%;
}

.div_mainTitleButton {
  width: 40%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 30%;
  left: 60%;
  z-index: 1;
}

.h1_mainTitle {
  padding: 0px;
  margin: 0px;
  font-size: 10rem;
  text-align: end;
  color: #000000;
  position: relative;
  z-index: 1;
}

.h2_mainSubTitle {
  font-size: 2.5rem;
  z-index: 1;
}

.img_mainTitle {
  position: absolute;
  z-index: 0;
  top: -10%;
  left: 10%;
}

.p_mainDesc {
  font-size: 1.5rem;
  text-align: end;
  z-index: 1;
}

.button_contact {
  background-color: #000;
  color: #FFF;
  font-family: var(--main-font);
  font-size: 1.5rem;
  padding: 20px 30px;
  border-radius: 10px;
  border: solid 1px transparent;
  transition: all 0.5s;
  z-index: 1;
}

.button_contact:hover {
  cursor: pointer;
  transform: translateY(3px);
  transition: all 0.5s;
}

.rectangle1 {
  height: 100px;
  width: 500px;
  background-color: var(--main-color);
  border-radius: 30px;
  position: relative;
  top: -300px;
  left: 80%;
  z-index: 0;
}

.rectangle2 {
  height: 300px;
  width: 730px;
  background-color: var(--main-color);
  border-radius: 30px;
  position: relative;
  top: -200px;
  left: 70%;
  z-index: 0;
}

.div_contextComponent {
  margin-top: -120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h2_subtitle {
  font-size: 6.5rem;
  color: #000000;
  z-index: 1;
  text-align: center;
}

.div_contextTitleRectangle {
  height: 70px;
  width: 35%;
  background-color: var(--main-color);
  border-radius: 30px;
  position: relative;
  top: -140px;
  z-index: 0;
}

.p_contextParagraph {
  margin-top: -50px;
  font-size: 2rem;
  padding: 2rem;
}

.div_lawAspectsComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.div_lawAspects {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 100px;
}

.div_lawAspectItem {
  background-color: var(--main-color);
  padding: 2rem;
  border-radius: 40px;
  margin: 0px 0px 100px 100px;
  height: 70px;
  width: 500px;
  z-index: 0;
  transition: height 0.7s;
}

.div_lawAspectItem.expanded {
  height: auto;
  transition: height 0.4s;
}

.div_lawPrinciplesTitle {
  width: 100%;
  background-image: url(../img/man-making-his-move.jpg);
  background-position: 20%;
  background-repeat: no-repeat;
  background-size: 170%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h1_lawPrinciplesTitle {
  font-size: 6rem;
  color: #FFF;
  z-index: 1;
}

.div_lawAspectNumber {
  color: #ffffff;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: #000000;
  position: relative;
  left: 470px;
  top: -50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.article_lawAspectTitle {
  margin-top: -100px;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}

.p_lawAspectDescription {
  font-size: 1.2rem;
}


.div_groupDescriptionComponent {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
}

.div_groupDescriptionContainer {
  padding: 50px;
  width: 70%;
  margin-left: -100px;
  display: flex;
  flex-direction: column;
  background-color: var(--main-color);
  border-radius: 20px;
}

.h1_groupDescriptionTitle {
  font-size: 4rem;
  text-align: end;
}

.p_groupDescriptionParagraph {
  font-size: 2rem;
}

.article_groupPeopleDesc {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 70%;
  margin: 20px;
}

.h2_groupPeopleName{
  z-index: 2;
  margin-left: 20px;
}

.p_groupPeopleProfile {
  font-size: 1.2rem;
  z-index: 2;
  margin-left: 20px;
}

.img_groupImg {
  border-radius: 100%;
  object-fit: cover;
  width: 17rem;
  height: 17rem;
  border: solid 2px var(--main-color);
  box-shadow: 6px 4px 0px var(--main-color);
  z-index: 0;
}

.div_problemDescriptionContainer {
  margin-top: 50px;
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h1_problemTitle {
  font-size: 5rem;
  color: #FFF;
  text-align: center;
  margin: 15px 10px;
}

.p_problemDescription {
  text-align: center;
  font-size: 2rem;
  color: #FFF;
  padding: 0px 50px;
}

.figure_problemImage {
  margin: -10px 0px;
  width: 100%;
  height: 300px;
  background-image: url(../img/problemImg.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50%;
}

.div_solutionTitleRectangle {
  height: 70px;
  width: 700px;
  background-color: var(--main-color);
  border-radius: 30px;
  position: relative;
  top: -140px;
  z-index: 0;
}

.div_numberDescriptionBelowComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div_solutionTitleRectangle {
  height: 70px;
  width: 93%;
  background-color: var(--main-color);
  border-radius: 30px;
  position: relative;
  top: -140px;
  z-index: 0;
}

.div_servicesItems {
  margin-left: -30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.article_solutionItem {
  margin: 10px 0px;
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.h2_solutionNumber {
  background-color: var(--main-color);
  font-weight: bolder;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.h2_solutionTitle {
  text-align: center;
  font-size: 2.2rem;
}

.button_solutionDesc {
  background-color: #000;
  border-radius: 10px;
  font-size: 1.4rem;
  color: #FFF;
  width: 10rem;
  border: solid 1px transparent;
}

.button_solutionDesc:hover {
  cursor: pointer;
  background-color: var(--main-color);
}

.p_solutionDescription {
  transition: height 0.3s ease-in-out;
  font-size: 1.2rem;
  height: 0;
}

.p_solutionDescription.expand {
  height: auto;
}

.div_servicesItems.expanded {
  transition: height 0.3s ease-in-out;
  height: auto;
}

.div_servicesItems.collapsed {
  transition: height 0.3s ease-in-out;
  height: 50px;
}

.img_descIcon {
  width: 50%;
}


.div_descriptionIconComponent {
  margin-top: 50px;
}

.div_iconAndDescContainer {
  margin: 50px 100px;
  padding: 50px;
  background-color: var(--main-color);
  display: flex;
  flex-direction: row;
  border-radius: 0px 50px;
}

.section_iconAndDescription {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.h2_descriptionTitle {
  font-size: 4rem;
}

.p_descriptionParagraph {
  font-size: 1.5rem;
  padding-right: 40px;
}

.button_expand {
  font-family: var(--main-font);
  font-size: 1.5rem;
  color: #FFF;
  background-color: #000;
  border-radius: 10px;
  border: none;
  transition: color 0.2s;
}

.button_expand:hover {
  cursor: pointer;
  color: var(--main-color);
  transition: color 0.2s;
}

.div_processDescriptionContainer {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div_processTitleRectangle {
  height: 70px;
  width: 95%;
  background-color: var(--main-color);
  border-radius: 30px;
  position: relative;
  top: -140px;
  z-index: 0;
}

.div_numberDescriptionSideComponent {
  width: 70%;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div_processItems {
  width: 90%;
  display: flex;
  flex-direction: column;
}

.article_processItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  text-align: start;
}

.h2_processNumber {
  background-color: var(--main-color);
  font-weight: bolder;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.p_processDescription {
  font-size: 1.5rem;
  padding: 20px;
}

.div_issueProcess {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color);
  font-size: 2rem;
  text-align: center;
  border-radius: 50px 0px;
}

.div_conclusionComponent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  margin-top: 50px;
}

.img_conclusionImg {
  margin-left: 60px;
  width: 30rem;
  height: 30rem;
  object-fit: cover;
  border-radius: 100%;
}

.aside_conclusionTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px 100px;
}

.h1_conclusionTitle {
  font-size: 4rem;
  color: #FFF;
}

.p_conclusionParagraph {
  font-size: 2rem;
}

.img_processImg {
  width: 20%;
}

.main_finalComponent {
  width: auto;
  margin-bottom: -10px;
  background-image: url(../img/buildingFinalImg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 120%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10%;
}

.h1_finalTitle {
  background-color: var(--main-color);
  padding: 10px;
  border-radius: 20px;
  margin-top: -60px;
  color: #FFF;
  font-size: 5rem;
}

.p_finalDescription {
  background-color: #000;
  padding: 10px;
  border-radius: 20px;
  margin-top: -60px;
  font-size: 1.5rem;
  color: var(--main-color);
}

.div_plansContainer {
  display: flex;
  width: 60%;
  flex-direction: row;
  justify-content: space-evenly;
}

.article_planItem {
  display: flex;
  flex-direction: column;
  width: 25%;
  background-color: #ffffffd3;
  border-radius: 10px;
  padding: 40px;
  text-align: center;
  justify-content: space-between;
}

.h1_planTitle {
  color: #000;
  font-size: 2.5rem;
  font-weight: bolder;
  border-radius: 10px;
  padding: 0px 0px;
}

.p_planPrice {
  margin: 0px 0px 20px 0px;
  font-size: 2rem;
  font-weight: bold;
}

.span_planPriceSymbol {
  font-size: 20px;
}

.p_planFeature {
  font-size: 1.5rem;
  margin: 0px 0px 10px 0px;
}

.button_planBuy {
  margin: 20px 0px;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: var(--main-color);
  border-radius: 10px;
  padding: 15px 50px;
  border: solid 1px transparent;
  transition: background-color 0.3s, border 0.2s;
}

.button_planBuy:hover {
  transition: background-color 0.3s, border 0.2s;
  background-color: #FFF;
  border: solid 1px var(--main-color);
  cursor: pointer;
}

.nav_navbarComponent {
  position: fixed;
  width: 100%;
  background-color: #000;
  padding: 5px 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #FFF;
  z-index: 2;
}

.h1_navbarTitle {
  font-size: 2rem;
  background: #FFBD22;
  background: linear-gradient(to bottom right, #FFBD22 65%, #FFFFFF 65%, #FFFFFF 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.5s;
}

.h1_navbarTitle:hover {
  cursor: default;
  transition: all 0.8s;
  transform: scale(105%) translateX(10px);
}


.ul_navbarItems {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-right: 50px;
}

.li_navbarItem {
  list-style: none;
  margin: 0px 50px;
  font-size: 1.2rem;
  font-variant: small-caps;
  transition: all 0.5s;
}

.li_navbarItem:hover {
  transition: all 0.5s;
  transform: translateY(3px);
}

.a_navbarItem {
  text-decoration: none;
  color: #FFF;
  transition: all 0.5s;
}

.a_navbarItem:hover {
  transition: all 0.5s;
  color: var(--main-color);
}

/* Animaciones */

.retract {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
}

.expand {
  opacity: 1;
  max-height: 200px; /* Ajusta este valor según sea necesario */
  transition: max-height 0.5s ease-in, opacity 0.5s ease-in;
}



/* Estilos específicos para pantallas con un ancho mínimo de 769px */
@media only screen and (max-width: 1024px) {

  html {
    margin: 0px;
    padding: 0px;
    width: 100%;
  }

  body {
    margin: 0px;
  }

  .mainBody {
    margin: 0px;
    display: flex;
    flex-direction: column;
  }

  .div_mainTitle {
    margin: 0px;
    padding: 0px;
    height: auto;
    background-image: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .div_mainTitleButton {
    position: relative;
    top: 100px;
    left: 0px;
    right: 0px;
    z-index: 1;
    width: 90%;
    margin-bottom: 100px;
  }

  .h1_mainTitle {
    padding: 0px;
    font-size: 4rem;
  }

  .img_mainTitle {
    left: 20%;
  }

  .nav_navbarComponent {
    margin: 0px;
    padding: 0px 20px;
    width: 100%;
  }

  .h1_navbarTitle {
    font-size: 1rem;
  }

  .ul_navbarItems {
    display: none;
  }

  .div_contextComponent {
    margin-top: 100px;
  }

  .h2_subtitle {
    font-size: 3rem;
    margin: 10px;
  }

  .div_contextTitleRectangle {
    margin: auto;
    position: relative;
    height: 20px;
    width: 80%;
    top: -2rem;
  }

  .p_contextParagraph {
    font-size: 1.2rem;
    margin-bottom: 0px;
  }

  .div_lawPrinciplesTitle {
    width: 100%;
    text-align: center;
  }

  .h1_lawPrinciplesTitle {
    font-size: 3rem;
  }

  .div_lawAspects {
    margin: 0px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .div_lawAspectItem {
    margin: 0px;
    width: 70%;
    margin: 0px 0px 30px 0px;
    height: 60px;
  }

  .div_lawAspectItem.expanded {
    transition: height 0.4s;
    height: auto;
  }

  .article_lawAspectTitle {
    padding-top: 50px;
    font-size: 1.5rem;
    z-index: 2;
  }

  .div_lawAspectNumber {
    font-size: 1rem;
    width: 40px;
    height: 40px;
    position: relative;
    left: 90%;
  }

  .div_groupDescriptionComponent {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    width: 100%;
  }

  .h1_groupDescriptionTitle {
  font-size: 2rem;
  }

 .div_groupDescriptionContainer {
    margin: 0px;
    padding: 50px;
    border-radius: 0px;
    background-color: #000;
    color: #FFF;
    border-radius: 20px 0px;
  }

  .figure_groupImage {
    display: none;
  }

  .article_groupPeopleDesc {
    width: 90%;
  }

  .p_groupDescriptionParagraph {
    font-size: 1rem;
  }

  .div_numberDescriptionBelowComponent {
    padding: 0px;
    width: 100%;
    margin: 60px 0px;
  }

  .div_servicesItems {
    margin: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .p_solutionDescription {
    transition: height 0.3s ease-in-out;
    font-size: 1.2rem;
    height: 0;
  }
  
  .p_solutionDescription.expand {
    height: auto;
    margin-bottom: 20%;
  }
  
  .div_servicesItems.expanded {
    transition: height 0.3s ease-in-out;
    height: auto;
  }
  
  .div_servicesItems.collapsed {
    transition: height 0.3s ease-in-out;
    height: 0px;
  }

  .div_numberDescriptionSideComponent {
    width: 100%;
  }  

  .div_numberDescriptionSideComponent::before {
    content: 'como es el proceso para usar WhyWa';
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    background-color: var(--main-color);
    border-radius: 20px 0px;
  }  


  .article_processItem {
    display: flex;
    flex-direction: column;
    margin: 0px;
    text-align: center;
  }

  .div_processNumber {
    display: none;
  }

  .p_processDescription {
    width: 100%;
    margin: 0px;
  }


  .h2_descriptionTitle {
    font-size: 2rem;
  }

  .div_problemDescriptionContainer {
    margin: 0px;
    padding: 60px 30px;
  }

  .h1_problemTitle {
    font-size: 2rem;
    margin: 0px 0px 0px 0px
  }

  .p_problemDescription {
    font-size: 1.2rem;
    margin: 0px;
    padding: 20px;
  }

  .figure_problemImage {
    margin: 0px;
    background-size: 170%;
    background-clip: content-box;
  }

  .div_processDescriptionContainer {
    display: none;
  }

  .div_solutionTitleRectangle {
    margin: auto;
    position: relative;
    height: 20px;
    width: 80%;
    top: -9rem;
  }

  .div_issueProcess {
    display: none;
  }

  .h2_solutionTitle {
    font-size: 2rem;
    position: relative;
    margin: 0px;
    padding: 0px;
    text-align: center;
    margin: 0px;
  }

  .article_solutionItem {
    width: 70%;
    text-align: center;
  }

  .img_descIcon {
    display: none;
  }

  .aside_conclusionTextContainer {
    padding: 40px;
  }

  .div_conclusionComponent {
    margin: 40px 0px 0px 0px;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    padding: 0px 0px;
  }

  .img_groupImg {
    width: 100px;
    height: 100px;
  }

  .h1_conclusionTitle {
    font-size: 2rem;
    padding: 10px 30px;
  }

  .p_conclusionParagraph {
    font-size: 1.5rem;
    padding: 0px 30px;
  }

  .main_finalComponent {
    background-color: transparent;
    background-image: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .h1_finalTitle {
    width: 100%;
    font-size: 3rem;
    margin: 0px;
  }

  .p_finalDescription {
    background-color: transparent;
    color: #000;
    font-size: 1rem;
    margin: 0px;
    margin-bottom: 30px;
  }

  .img_conclusionImg {
    display: none;
  }

  .div_plansContainer {
    flex-direction: column;
    justify-content: center;
    width: 90%;
  }

  .article_planItem {
    background-color: #000;
    color: #FFF;
    width: auto;
    margin-bottom: 30px;
  }

  .h1_planTitle {
    color: var(--main-color);
  }

}

/* Estilos específicos para pantallas con un ancho mínimo de 430px */
@media only screen and (max-width: 430px) {
  .p_solutionDescription.expand {
    height: auto;
    margin-bottom: 110%;
  }
  
  .div_servicesItems.expanded {
    transition: height 0.3s ease-in-out;
    height: auto;
  }
}